<p>
  <mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Blog</span>
    <span class="example-spacer"></span>

    <a routerLink="/admin">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>assignment_ind</mat-icon>
    </button>
    </a>
  </mat-toolbar>
</p>

<div class="container">
  <router-outlet></router-outlet>
</div>
