<div class="container"
     style="max-width: 600px">
<div class="log_wrap">
<form class="card center" [formGroup]="form" (ngSubmit)="submit()">
    <h2 style="color: #111111">Enter your E-mail to recover your password</h2>

    <div class="alert alert-danger" *ngIf="errorState">
        Invalid E-mail
    </div>

    <div
            class="form-control"
            [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    >
        <label for="email" style="color: #111111">Email:</label>
        <input id="email" type="email" formControlName="email"  (click)="errorState = false">
            <div
              *ngIf="form.get('email').touched && form.get('email').invalid"
              class="validation"
            >
              <small *ngIf="form.get('email').errors.email">
                  Invalid email
              </small>
            </div>
    </div>

    <div class="btns2">
        <button mat-button
                (click)="errorState = true"
                style="background-color: #62C362"
                type="submit"
                class="btn btn-primary"
        >Reset Password</button>

        <a routerLink="/admin/login">
            <button mat-button style="background-color: #0132BC"
                    class="btn-forgot"
            >
                Back
            </button>
        </a>
    </div>
</form>
</div>
</div>
